<li id="burgerlist">
	{{burgerName}}

	<button class="change-devoured" data-id="{{this.id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}Devour It!{{else}}Make Another One!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
